<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [6]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [7]:
print(f'Total number of rows: {df.shape[0]}')
print(f'Number of duplicate rows: {df.duplicated().sum()}')

Total number of rows: 11552
Number of duplicate rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [8]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [9]:
print(f'Total number of rows after deletion: {df.shape[0]}')

Total number of rows after deletion: 11398

## Finding Missing values

Find the missing values for all columns.

In [10]:
for column in df.columns:
    missing_count = df[column].isnull().sum()
    if missing_count > 0:
        print(f"Column '{column}' has {missing_count} missing values.")
        print("")

Column 'OpenSource' has 81 missing values.

Column 'Student' has 51 missing values.

Column 'EdLevel' has 112 missing values.

Column 'UndergradMajor' has 737 missing values.

Column 'EduOther' has 164 missing values.

Column 'OrgSize' has 96 missing values.

Column 'DevType' has 65 missing values.

Column 'YearsCode' has 9 missing values.

Column 'Age1stCode' has 13 missing values.

Column 'YearsCodePro' has 16 missing values.

Column 'JobSat' has 1 missing values.

Column 'MgrIdiot' has 493 missing values.

Column 'MgrMoney' has 497 missing values.

Column 'MgrWant' has 493 missing values.

Column 'LastInt' has 413 missing values.

Column 'FizzBuzz' has 37 missing values.

Column 'JobFactors' has 3 missing values.

Column 'ResumeUpdate' has 39 missing values.

Column 'CompTotal' has 809 missing values.

Column 'CompFreq' has 206 missing values.

Column 'ConvertedComp' has 816 missing values.

Column 'WorkWeekHrs' has 122 missing values.

Column 'WorkPlan' has 121 missing values.

Column 'WorkChallenge' has 164 missing values.

Column 'WorkRemote' has 8 missing values.

Column 'WorkLoc' has 32 missing values.

Column 'ImpSyn' has 5 missing values.

Column 'CodeRev' has 1 missing values.

Column 'CodeRevHrs' has 2426 missing values.

Column 'UnitTests' has 29 missing values.

Column 'PurchaseHow' has 196 missing values.

Column 'PurchaseWhat' has 38 missing values.

Column 'LanguageWorkedWith' has 11 missing values.

Column 'LanguageDesireNextYear' has 134 missing values.

Column 'DatabaseWorkedWith' has 453 missing values.

Column 'DatabaseDesireNextYear' has 1042 missing values.

Column 'PlatformWorkedWith' has 411 missing values.

Column 'PlatformDesireNextYear' has 544 missing values.

Column 'WebFrameWorkedWith' has 1393 missing values.

Column 'WebFrameDesireNextYear' has 1617 missing values.

Column 'MiscTechWorkedWith' has 2182 missing values.

Column 'MiscTechDesireNextYear' has 1455 missing values.

Column 'DevEnviron' has 29 missing values.

Column 'OpSys' has 34 missing values.

Column 'Containers' has 82 missing values.

Column 'BlockchainOrg' has 2322 missing values.

Column 'BlockchainIs' has 2610 missing values.

Column 'BetterLife' has 98 missing values.

Column 'ITperson' has 35 missing values.

Column 'OffOn' has 38 missing values.

Column 'SocialMedia' has 293 missing values.

Column 'Extraversion' has 20 missing values.

Column 'ScreenName' has 507 missing values.

Column 'SOVisit1st' has 325 missing values.

Column 'SOVisitFreq' has 5 missing values.

Column 'SOVisitTo' has 1 missing values.

Column 'SOFindAnswer' has 3 missing values.

Column 'SOTimeSaved' has 50 missing values.

Column 'SOHowMuchTime' has 1917 missing values.

Column 'SOAccount' has 1 missing values.

Column 'SOPartFreq' has 1128 missing values.

Column 'SOJobs' has 6 missing values.

Column 'EntTeams' has 5 missing values.

Column 'WelcomeChange' has 85 missing values.

Column 'SONewContent' has 1965 missing values.

Column 'Age' has 287 missing values.

Column 'Gender' has 73 missing values.

Column 'Trans' has 123 missing values.

Column 'Sexuality' has 542 missing values.

Column 'Ethnicity' has 675 missing values.

Column 'Dependents' has 140 missing values.

Column 'SurveyLength' has 19 missing values.

Column 'SurveyEase' has 14 missing values.

Find out how many rows are missing in the column 'WorkLoc'

In [11]:
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [12]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [13]:
df['WorkLoc'].mode()[0]

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [14]:
df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [15]:
df['WorkLoc'].value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [16]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [17]:
def norm_comp(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

df['NormalisedAnnualCompensation'] = df.apply(norm_comp, axis=1)
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalisedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).